body {
background-color: #2a9d8f;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
line-height: normal;
}

h1 {
  color: #264653;
}

h2 {
  justify-content: center;
}

a:hover {
  color: #e9c46a;
}

#avatar  {
  border-radius: 50%;
  width: 250px;
  height: 10;
}
