

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Open-sans, sans-serif;
  }

.btn-medium {
  color: #f5eccd;
  border: 1px solid #999999;
  background: #6a0dad;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}


.btn-treehouse {
  color: black;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: #ffd700;
  transition: 0.3s ease;
}

.btn-yours:hover {
  color: #0d3692;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: silver;
  transition: 0.1s ease;
}
